

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/controller.js"></script>
<script type="text/javascript" src="/easyrtc/easyrtc.js"></script>
<script type="text/javascript" src="/javascripts/audiovideo.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheet/easyrtc.css" />
<link rel="stylesheet" type="text/css" href="/easyrtc/easyrtc.css" />
<script src="/javascripts/nipplejs.js"></script>

<div class="container fullheight">
  <div class="row fullheight ">
    <div class="col-sm-4 ">
      <div id="zone_joystick" style="position: relative;
          background: silver;
          box-sizing: content-box;
          height: 100%;
          "> 
      </div>
    </div>
    <div class="col-sm-8 ">
      <iframe src=/video/ class="iframertc fullheight" gesture="media"></iframe>
    </div>
  </div>
</div>
<script type="text/javascript" src="/javascripts/joypad.js"></script>

</style>